@page "/chat_chat={ChatName}&user={UserName}"
@using ChatSignalR.Client.Models
@inject IJSRuntime JS

<div class="container chat-container">
    <div class="chat-header">
        <h2>Chat: <strong>@ChatName</strong></h2>
        <h3>User: <strong>@UserName</strong></h3>
        <button class="leave-btn" @onclick="LeaveChat">Leave Chat</button>
    </div>

    <ul class="messages-list" @ref="_messageListElement">
        @if(_messages.Count > 0){
            @foreach (var msg in _messages.ToList())
            {
                <li class="message-item" style="background-color:@GetBackgroundColor(msg.Sentiment); float:@(msg.UserName == UserName ? "right" : "left");">
                    <strong class="message-user">@msg.UserName</strong>
                    <span class="message-text">@msg.MessageText</span>
                    <span class="message-sentiment"><i>Sentiment: @msg.Sentiment</i></span>
                    <span class="message-sentiment"><i>Sent @msg.SentTime.ToLocalTime().ToString("dd.mm HH:MM")</i></span>
                </li>
            }
        }        
        else
        {
            <MudProgressCircular Color="Color.Info" Size="Size.Large" Indeterminate="true" 
                Style="position: absolute !important;
                       top: 200px;
                       margin: auto;
                       width: 24vw;
                       height: 24vw;
                       left: 38vw;"  />
        }
    </ul>

    <div class="chat-input-container">
        <input class="message-input" @bind="_message" placeholder="Enter your message" @onkeypress="OnKeyPress" disabled="@(!hubService.IsConnected())" />
        <button class="send-btn" @onclick="SendMessage">Send</button>
    </div>
</div>

<script>
    function scrollToBottom(element) {
        element.scrollTop = element.scrollHeight;
    }
</script>

@code {
    [Parameter]
    public string ChatName { get; set; } = "";
    [Parameter]
    public string UserName { get; set; } = "";
    private string? _message;
    private List<ChatMessage> _messages = new List<ChatMessage>();

    private ElementReference _messageListElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_messages.Any())
        {
            await ScrollToBottom();
        }
    }

    private async Task ScrollToBottom()
    {
        await JS.InvokeVoidAsync("scrollToBottom", _messageListElement);
    }

    protected override async Task OnInitializedAsync()
    {
        if (hubService.IsConnected())
        {
            hubService.OnMessageListReceived += (message) => MessagesListRecieved(message);
            hubService.OnMessageReceived += (message) => MessageRecieved(message); 
            await hubService.JoinChat(ChatName, UserName);
        }
        await base.OnInitializedAsync();    
    }

    private void MessagesListRecieved(IEnumerable<ChatMessage> messages)
    {
        _messages = messages.ToList();
        InvokeAsync(StateHasChanged);
    }

    private void MessageRecieved(ChatMessage message)
    {
        _messages.Add(message);
        InvokeAsync(StateHasChanged);
    }

    private async Task SendMessage()
    {
        if (!string.IsNullOrEmpty(_message))
        {
            await hubService.SendMessage(ChatName, UserName, _message);
            _message = string.Empty;
        }
    }

    private async Task LeaveChat()
    {
        await hubService.LeaveChat(ChatName, UserName);
        navigationManager.NavigateTo("/");
    }

    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            SendMessage();
        }
    }    

    private string GetBackgroundColor(MessageSentiment sentiment)
    {
        switch (sentiment)
        {
            case MessageSentiment.Positive: return "#7dd87d";
            case MessageSentiment.Negative: return "#ff6f3c";
            case MessageSentiment.Neutral: return "#bae8e8";
            default: return "#e6e6e6";
        }
    }

    
    public async ValueTask DisposeAsync()
    {
        await hubService.DisposeAsync();
    }
}
